<div id="header">
  <p id="headerT"> {{producto.categoria.toUpperCase()}}</p>
</div>
<div class="container">

  <div id="mainCard" class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <img src="{{producto.imagen}}" class="img-fluid" alt="...">
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="card">
            <div class="card-body">
              <p id="productNM">{{producto.nombre}}</p>
              <hr>
              <p id="productVL">${{producto.valor}}</p>
              <p>¡Envio Gratis Por  Tiempo Limitado!</p>
              <div id="inputcantidad" class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">Cantidad</button>
                <input type="number" id="inputUnidades" class="form-control" required [placeholder]=" 'Máximo  ' + producto.existencias"   aria-describedby="button-addon1">
              </div>
              <p>{{producto.descripcion}}</p>
              <button  id="btnComprar" class="btn btn-success mx-3">Comprar Ahora</button>
              <button (click)="addToCar(producto)" onclick="toastshow('toast')" id="btnCarro" class="btn btn-primary">Agregar al Carro</button>
              <div class="toast position-fixed top-0 end-0 mt-5 mx-2" id="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">{{message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
