<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" role="button" (click)="goHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" (click)="offers()">Ofertas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categoría
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" role="button" href="category" (click)="category('telefonos')">Teléfonos y Tablets</a></li>
            <li><a class="dropdown-item" role="button" href="category" (click)="category('accesorios')">Accesorios</a></li>
            <li><a class="dropdown-item" role="button" href="category" (click)="category('juguetes')">Juguetes y Bebés</a></li>
            <li><a class="dropdown-item" role="button" href="category" (click)="category('hogar')">Hogar</a></li>
            <li><a class="dropdown-item" role="button" href="category" (click)="category('deportes')">Deportes</a></li>
          </ul>
        </li>

      </ul>
      <div class="d-flex">
        <button *ngIf="!logged" class="btn btn-group-sm nav-item" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</button>
        <button *ngIf="!logged" class="btn btn-group-sm nav-item" routerLink="/register"><i class="bi bi-arrow-right-circle-fill"></i> Registrarse</button>
        <button *ngIf="logged" routerLink="/car" class="btn btn-group-sm nav-item" [disabled]="!hasProductos"><i class="bi bi-cart-dash"></i> Carrito </button>
        <button *ngIf="logged" (click)="onLogOut()" class="btn btn-group-sm  nav-item"><i class="bi bi-x-circle"></i> Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
