<div id="headerDv" class="text-center p-5">
  <p class="headerTxt">Las ofertas están disponibles por tiempo limitado</p>
  <p class="headerTxt">!Aprovechalas!</p>
</div>
<div>
  <div class="container">
    <div class="row">
      <div *ngFor="let producto of productos" class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img  role="button" (click)="info(producto)" class="card-img-top img-fluid" src="{{producto.imagen}}" alt="..." />
          <div class="card-body">
            <h4 class="card-title tittle"><button (click)="info(producto)" class="btn btn-light productName">{{producto.nombre}}</button></h4>
            <div class="cardBody">
              <p class="productValue">Desde $ {{producto.valor}}</p>
              <p>Existencias {{producto.existencias}}</p>
            </div>
          </div>
          <div class="card-footer"><small class="text-muted">{{producto.categoria.toUpperCase()}}</small></div>
        </div>
      </div>

    </div>
  </div>
</div>

